
.plastic/plastic.changes
.plastic/plastic.selector
.plastic/plastic.wktree
.plastic/plastic.workspace
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
Library/*
Temp/*
ignore.conf
*.meta